<!DOCTYPE html>
<html lang="utf8">
<head>
    <title>MultiTruths</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img alt="Brand" src="/static/logo.png" style="max-height: 100%; width: auto"></img></a>
                </div>                
            </nav>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table">
                {% for item in files %}
                <tr><td><a href="/topic/{{ item.topicid }}">{{ item.name }}</a><br></td></tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
    <footer class="bs-docs-footer" style="bottom: 0; position: absolute; width: 100%; background-color: #f5f5f5; height: 60px">
        <div class="container">
            <p class="text-muted" style="margin: 20px 0;">Contact Info: nanlinloono@gmail.com</p>
        </div>
    </footer>
    



</body>
</html>