<!DOCTYPE html>
<html lang="utf8">
<head>
    <title>MultiTruths</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
	<style type="text/css">
		.main.container {
    		margin-top: 5em;
  		}
	</style>
</head>
<body>
	<div class="ui fixed menu">
    	<div class="ui container">
    		<a href="/" class="item">MultiTruths</a>
    	</div>
    </div>

    <div class="ui main text container">
    	<div class="ui raised segment">
			<form class="ui form" action="post" method="post">
				
				<div class="field">
			        <label>Topic</label>
			        <input type="text" name="topic"><br>
			    </div>

				<div class="field">
			        <label>Title</label>
			        <input type="text" name="title"><br>
			    </div>

			    <div class="field">
			        <label>Content</label>
			        <input type="text" name="content" class="textarea"><br>
			    </div>

			    <div class="field">
			        <label>Media</label>
			        <input type="text" name="media"><br>
			    </div>

			    <div class="field">
			        <label>Code</label>
			        <input type="password" name="code"><br><br>
			    </div>

		        <input class="ui button" type="submit" value="Submit">
	    	</form>
	    </div>
	</div>
    
</body>
</html>